div {
    width: 500px;
    text-align: right;
    border: 3px solid red;
    
}
div p{
    color: blue;
}
div, p{
    text-align: center;
    color: blue;

}
div > p{
    text-align: center;
    color: blue;

}
div + p{
    text-align: center;
    color: blue;

}